body {
  background-image: url("assets/images/logo.png"), url("assets/images/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top, center top;
  background-size: 768px, auto;
}